<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	{% load static %}
	<link rel="stylesheet" href="{% static 'catalogo/css/bootstrap.min.css' %}">
</head>
<body>
	<div class="container">		
		<h1>{{ libro.title }}</h1>
		Autor: <h3>{{ libro.author }}</h3>
		<div>
			Editorial: {{ libro.publisher }} {{ libro.publisher_date }} 
			<br>
			Páginas: {{ libro.pages }} 
			<br>
			Idioma: {{ libro.language}}
		</div>
		<br>
		<b>Resumen:</b>
		<p align="justify">		
			 {{ libro.content_short }}
		</p>
	</div>

</body>
</html>