<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Taller Django 2018</title>
	{% load static %}
	<link href="https://fonts.googleapis.com/css?family=Courgette|ABeeZee|Open+Sans" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'catalogo/css/bootstrap.min.css' %}">
	<style>
		html
		{
			height: 100%;
		}
		body
		{
			background-color: #5596ad;
			background-image: url("{{ background }}");
    		/*background-size: 100% 100%;-		*/
			/*background-repeat: no-repeat;*/
			height: 100%;	
		}
		.container	
		{
			padding: 1em;
		}
		.card
		{
			background: #00000026;
    		color: white;
			margin-top: 2em;
		}
		.titulo
		{
			font-family: 'Courgette', sans-serif;
			font-size: 36px;
			color: white;
			vertical-align: middle;
			margin-top: 1.5em;
		}
	</style>
</head>
<body>	
	<div class="container">

		<div class="row">
			<div class="col-2 offset-4">
				<img class="card-img-top" src="{% static 'catalogo/img/logo.png' %}" alt="Card image cap" style="width: 100%;">				
			</div>
			<div class="col-2">
				<div class="titulo">Library.</div>
			</div>
		</div>
		<div class="row">
			<div class="col-6 offset-3">
				<div class="card">					
					<div class="card-body">						
						<div class="card-title">
							<form action="{% url 'listado' %}" method="GET">								
								<label for="">Busca el libro que necesitas:</label>
								<input name="filter" type="text" class="form-control" placeholder="Ejemplo: El principito, Quijote, Iliada, etc.">
								<div class="text-center">	
									<br>
									<button type="submit" class="btn btn-lg btn-dark">
										Buscar
									</button>
									<!-- <a href="" class="btn btn-lg btn-dark">
										Buscar libro
									</a> -->
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>